---

---

<section>
  <form action="">
    <label for="">name</label>
    <input type="text" name="" id="" />
    <label for="">email</label>
    <input type="text" name="" id="" />
    <label for="">password</label>
    <input type="text" name="" id="" />
    <label for="">repeat password</label>
    <input type="text" name="" id="" />
  </form>
</section>
