---
const {
  query: query,
  styleClass: styleClass,
  buttonContent: content,
} = Astro.props;
---

<a href={query} class={styleClass}>{content}</a>

<style>
  a {
    position: relative;
    height: 40px;
    width: 90px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-size: 18px;
  }

  .transRight {
    transition:
      0.5s,
      color 0.1s;
    -webkit-transition:
      0.5s,
      color 0.1s;
    -moz-transition:
      0.5s,
      color 0.1s;
  }
  .transRight:hover {
    transform: translatex(20px);
    -webkit-transform: translatex(20px);
    -moz-transform: translatex(20px);
  }

  .transDown {
    transition:
      0.5s,
      color 0.1s;
    -webkit-transition:
      0.5s,
      color 0.1s;
    -moz-transition:
      0.5s,
      color 0.1s;
  }
  .transDown:hover {
    transform: translatey(5px);
    -webkit-transform: translatey(5px);
    -moz-transform: translatey(5px);
  }
</style>
