---
const {
  query: query,
  styleClass: styleClass,
  buttonContent: content,
} = Astro.props;
---

<button class={styleClass}>
  <a href={query}>{content}</a>
</button>

<style>
  a {
    margin: 10px;
    color: var(--fonts-color);
    text-decoration: none;
    font-size: 18px;
    color: black;
  }

  button {
    position: relative;
    height: 40px;
    width: 140px;
    background: #ffffff;
    cursor: pointer;
    color: azure;
    border: none;
    position: relative;
    margin-left: 5px;
    border: 2px solid purple;
  }

  .transRight {
    transition:
      0.5s,
      color 0.1s;
    -webkit-transition:
      0.5s,
      color 0.1s;
    -moz-transition:
      0.5s,
      color 0.1s;
  }
  .transRight:hover {
    transform: translatex(20px);
    -webkit-transform: translatex(20px);
    -moz-transform: translatex(20px);
  }

  .transDown {
    border: none;
    important: !important;
    transition:
      0.5s,
      color 0.1s;
    -webkit-transition:
      0.5s,
      color 0.1s;
    -moz-transition:
      0.5s,
      color 0.1s;
  }
  .transDown:hover {
    transform: translatey(5px);
    -webkit-transform: translatey(5px);
    -moz-transform: translatey(5px);
  }
</style>
