---
const { direction: href, type: clase, name: name } = Astro.props;
---

<button class={clase}>
  <a href={href}>{name}</a>
</button>

<style>
  a {
    margin: 10px;
    color: var(--fonts-color);
    text-decoration: none;
    font-size: 18px;
    color: white;
  }

  button {
    position: relative;
    height: 40px;
    width: 120px;
    background: #0e100f;
    cursor: pointer;
    color: azure;
    border: none;
    position: relative;
    margin-left: 5px;
  }
  .float {
    transition:
      0.5s,
      color 0.1s;
    -webkit-transition:
      0.5s,
      color 0.1s;
    -moz-transition:
      0.5s,
      color 0.1s;
  }
  .float:hover {
    border: 2px purple solid;
    border-radius: 10px;
    box-shadow:
      0 8px 8px 0 #000000,
      0 8px 8px 0 #000000;
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    -moz-transform: translate(0px, 5px);
  }

  .normal {
    width: 200px;
    border: 2px solid purple;
    transition:
      0.5s,
      color 0.1s;
    -webkit-transition:
      0.5s,
      color 0.1s;
    -moz-transition:
      0.5s,
      color 0.1s;
  }
  .normal:hover {
    transform: translatex(20px);
    -webkit-transform: translatex(20px);
    -moz-transform: translatex(20px);
  }
</style>
