---
import Layout from "../layouts/Layout.astro";
import { ViewTransitions } from "astro:transitions";
---

<Layout>
  <main>
    <h1>The app for <a>writers</a> <br /> that <a>scales</a> with you</h1>
  </main>
</Layout>

<style>
  h1 {
    margin-left: 20px;
    font-size: 3.5rem;
  }
  a {
    color: blueviolet;
  }
</style>
