---
import Buttons from "../buttons/buttons.astro";
export const redirectToProfile = () => {
  return Astro.redirect("/profile");
};
---

<header class="main_container">
  <nav>
    <Buttons query="/register" styleClass="transDown" buttonContent="Sign Up" />
    <Buttons query="/login" styleClass="transDown" buttonContent="Log In" />
    <Buttons query="#about" styleClass="transDown" buttonContent="About" />
    <Buttons query="/login" styleClass="transDown" buttonContent="Github" />
  </nav>
  <div class="main-section">
    <h1>
      The app for <b>nautas</b>
      <br />
       that <b>scales</b> with you
    </h1>
    <p>
      Where connections bloom like <b>wildflowers</b> in a virtual garden,
      <b>fostering friendships</b> and shared experiences <b
        >in a digital world</b
      >
    </p>
  </div>
</header>

<style>
  @font-face {
    font-family: "Montserrat";
    src: url(../../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  }
  .main-section {
    margin-left: 5%;
  }
  b {
    color: rgb(25, 255, 121);
  }
  h1 {
    font-family: "Montserrat";
    font-size: 4.5rem;
  }
  p {
    font-family: "Montserrat";
    max-width: 600px;
    font-size: 1.2rem;
    margin-top: 50px;
  }
  nav {
    position: relative;
    display: flex;
    justify-content: left;
    margin-top: 40px;
    margin-left: 5%;
  }

  @media (max-width: 590px) {
    nav {
      display: none;
    }
    h1 {
      padding: 10px;
      text-align: center;
      font-size: 1.8rem;
    }
    p {
      padding: 5%;
      text-align: center;
      font-size: 1rem;
    }

    .main-section {
      margin-left: 0;
    }
  }
</style>
