---
import Buttons from "../Buttons/Buttons.astro";
const response = await fetch("http://localhost:3000/users");
const data = await response.json();
---

<header>
  <nav>
    <Buttons direction="/signup" type="float" name="Sign Up" />
    <Buttons direction="/login" type="float" name="Log In" />
  </nav>
</header>

<style>
  :root {
    --fonts-color: black;
  }

  nav {
    position: relative;
    display: flex;
    justify-content: right;
    margin-right: 70px;
    margin-top: 20px;
  }
</style>
