---
---
<h2 id="title"></h2>

<script>
  import { getUsersAuth } from "../services/getUserAuth";


  const user = JSON.parse(window.localStorage.getItem('userCredential'))
  if(user) {
    getUsersAuth(user._id)
    .then((data) => {
      if(data._id === user._id){
        console.log(data);
        const text = document.getElementById('title')
        text.innerText = 'Welcome to your profile ' + data.username
      } else {
        window.location.href = '/register'
      }
    })
  } else {
    window.location.href = '/register'
  }
</script>


