
@font-face {
    font-family: "Gabarito";
    src: url(../../public/fonts/Gabarito/Gabarito-VariableFont_wght.ttf);
}
:root {
    --principal-font: 'Gabarito';
    --principal-color: rgb(29, 201, 101);
}
h1 {
    margin-left: 3.5%;
    font-size: 2rem;
}
p {
    max-width: 320px;
    text-align: center;
}
a {
    text-decoration: none;
    color:var(--principal-color);
}

.formSection {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 350px;
    font-family: var(--principal-font);
}
input {
    width: 90%;
    height: 15px;
    margin-top: 10px;
    color: white;
    outline: none;
    padding: 15px;
    display: block;
    font-size: 1rem;
    max-width: 600px;
    position: relative;
    border-radius: 10px;
    background-color: #090a0e;
    font-family: var(--principal-font);
    border: 1px solid #3f3f3f;
    transition: border-color 0.3s ease-in-out;
  }
  
  input::placeholder {
    font-family: var(--principal-font);
    font-size: 1rem;
    padding-left: 2%;
  }
  input:focus {
    border-color: var(--principal-color);
    
}

.formSection button {
    margin-top: 5px;
    height: 46px;
    width: 100%;
    max-width: 331px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-family: var(--principal-font);
    border: 3px solid var(--principal-color);
    background-color: var(--principal-color);
    color: rgb(25, 25, 25);
}
/* .formSection input:focus {
    border-color:var(--principal-color)
    
} */
.formSection button:active {
    transform: scale(0.8)
}
.formSection button {
    transition: all 1s ease;
}

.errorMessage p {
    color: rgb(255, 55, 55);
}

