---
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" />
    <meta
      name="description"
      content="bucverse principal web, connect with people arround de world"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <ViewTransitions />
    <title>Bucverse</title>
  </head>
  <body>
    <slot />

    <style is:global>
      @font-face {
        font-family: "Gabarito";
        src: url(../public/fonts/Gabarito/Gabarito-VariableFont_wght.ttf);
      }
      :root {
        --principal-font: "Gabarito";
        --color-just-black: #13161c;
        --color-just-white: white;
      }
      html {
        scroll-behavior: smooth;
      }
      body {
        overflow-x: hidden;
        margin: 0 auto;
        max-width: 1200px;
        background-color: var(--color-just-black);
        box-sizing: border-box;
      }
      h1,
      h2,
      h3,
      p,
      a {
        color: var(--color-just-white);
        font-family: "Gabarito";
      }
    </style>
  </body>
</html>
